<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="@Url.Content("~/Content/LoginPage/")images/icons/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/LoginPage/")vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/LoginPage/")fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/LoginPage/")fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/LoginPage/")vendor/animate/animate.css">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/LoginPage/")vendor/css-hamburgers/hamburgers.min.css">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/LoginPage/")vendor/animsition/css/animsition.min.css">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/LoginPage/")vendor/select2/select2.min.css">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/LoginPage/")vendor/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/LoginPage/")css/util.css">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/LoginPage/")css/main.css">
    <script src="@Url.Content("~/Content/LoginPage/")vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="@Url.Content("~/Content/LoginPage/")vendor/animsition/js/animsition.min.js"></script>
    <script src="@Url.Content("~/Content/LoginPage/")vendor/bootstrap/js/popper.js"></script>
    <script src="@Url.Content("~/Content/LoginPage/")vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="@Url.Content("~/Content/LoginPage/")vendor/select2/select2.min.js"></script>
    <script src="@Url.Content("~/Content/LoginPage/")vendor/daterangepicker/moment.min.js"></script>
    <script src="@Url.Content("~/Content/LoginPage/")vendor/daterangepicker/daterangepicker.js"></script>
    <script src="@Url.Content("~/Content/LoginPage/")vendor/countdowntime/countdowntime.js"></script>
    <script src="@Url.Content("~/Content/LoginPage/")js/main.js"></script>
</head>
<body>
    <div>
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", required: false)
</body>
</html>
